body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fafbfc;
}

/* ------------------Header------------------- */

.header-wrapper {
  display: flex;
  width: 100%;
  /* height: 80px; */
  justify-content: space-between;
  align-items: center;
  background-color: #026aa7;
}

#header-left-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-right-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.header-buttons {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 80%;
  background-color: #4e97c1;
  border: none;
  border-radius: 3px;
  margin-left: 6px;
  padding: 3px 5px;
  color: white;
}

#input-wrapper {
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
}

#input-wrapper input {
  background-color: #4e97c1;
  border: none;
  padding: 7px;
  margin-left: 6px;
  border-radius: 2px;
  width: 150px;
  position: relative;
}

#input-wrapper svg {
  position: absolute;
  right: 5px;
  top: 3px;
}

#header-left-wrapper span {
  font-weight: 700;
  font-size: 15px;
  margin-left: 8px;
}

#logo {
  opacity: 0.6;
  height: 30px;
  padding: 8px;
}

#logo:hover {
  opacity: 1;
}

/* ------------------Home section-------------------- */

.home-sec-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.board {
  text-decoration: none;
}

/* -------------------boards ---------------- */

.boards-wrapper {
  width: 220px;
  height: 120px;
  background-color: #026aa7;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: inset 0 0 150px rgb(83, 80, 80);
}

.boards-wrapper:hover {
  box-shadow: inset 0 0 150px rgb(49, 45, 45);
}

#board-title {
  margin: 5px 8px;
  text-decoration: none;
}

/* ------------------boards Header ------------------- */

.board-header-wrapper {
  display: flex;
  width: 100%;
  /* height: 80px; */
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

#board-header-left-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board-header-right-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.board-header-buttons {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 80%;
  background-color: rgba(197, 197, 197, 0.3);
  border: none;
  border-radius: 3px;
  margin-left: 6px;
  padding: 3px 5px;
  color: white;
}

#board-header-input-wrapper {
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
}

#board-header-input-wrapper input {
  background-color: rgba(197, 197, 197, 0.5);
  border: none;
  padding: 7px;
  margin-left: 6px;
  border-radius: 2px;
  width: 150px;
  position: relative;
}

#board-header-input-wrapper svg {
  position: absolute;
  right: 5px;
  top: 3px;
}

#board-header-left-wrapper span {
  font-weight: 700;
  font-size: 15px;
  margin-left: 8px;
}

/* ----------------------lists-container----------------- */
.lists-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* height: 100%; */
  min-height: 95vh;
  /* flex-wrap: wrap; */
  overflow: auto;
}

/* ------------------------lists-wrapper--------------------------- */

.list-wrapper {
  min-width: 260px;
  /* max-width: 320px; */
  background-color: #ebecf0;
  height: 100%;
  padding: 5px;
  margin-left: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

#list-title {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}

#add-another-card {
  padding: 10px 0;
  cursor: pointer;
  color: grey;
  margin: 0;
}

#add-another-card:hover {
  background-color: rgba(9, 30, 66, 0.08);
  color: black;
}

/* -------------------cards-container----------------- */

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  text-decoration: none;
}

.add-card-buttons-wrapper {
  /* margin-top: 10px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
}

#add-another-card {
  margin: 10px;
  padding: 5px 40px;
  cursor: pointer;
  color: grey;
}

#add-new-card {
  margin: 10px 0;
  resize: vertical;
}

#close-add-card-textbox {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 28px;
  margin-left: 15px;
  color: grey;
}

#close-add-card-textbox:hover {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}
#add-card-button {
  border: none;
  color: white;
  background-color: #5aac44;
  padding: 10px;
  border-radius: 5px;
  align-self: flex-start;
  margin-left: 10px;
}
/* --------------------------cards---------------------- */

.card-wrapper {
  width: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: white;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  border-bottom: 1px solid grey;
}

#card-title {
  display: flex;
  justify-content: flex-start;
  width: 210px;
  margin: 10px 5px;
  text-align: left;
  font-size: 14px;
  word-break: break-word;
  color: black;
  /* text-decoration: none; */
}

#card-close-button {
  display: none;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  /* text-decoration: none; */
}

.card-wrapper:hover #card-close-button {
  display: block;
}

.cards-container Link {
  text-decoration: none;
}
/* boards page */
.boards-page {
  background-color: #026aa7;
}

/* ----------------card-details------------------ */
.modal-background {
  display: flex;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.3);
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 20;
}

.modal {
  display: flex;
  position: absolute;
  top: 80px;
  width: 768px;
  min-height: 850px;
  background: white;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px;
  /* margin: 50px; */
  z-index: 25;
}

.close-card-details-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
}

#card-details-title {
  width: 90%;
  text-align: left;
  word-break: break-all;
}

.card-details-desc {
  width: 500px;
  word-break: break-word;
  white-space: pre-wrap;
  text-align: left;
}

#desc-title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#desc {
  display: flex;
  justify-content: flex-start;
  width: 300px;
}

.desc-textarea {
  width: 600;
  resize: none;
}

/* -------------checklist --------------------- */

.checklist-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.checklist-wrapper hr {
  /* height: 1px; */
  width: 500px;
}

/* ----------------checkItem------------------------ */

.check-item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.check-item-wrapper input {
  margin-right: 20px;
  height: 100%;
}
/* ---------------boards name----------------------- */

#board-name {
  /* padding: 20px; */
  background-color: rgba(197, 197, 197, 0.3);
  color: white;
  width: 10%;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  padding: 10px 0;
  border-radius: 5px;
}
